YouTube Shorts Faceless Video Bot v2 (1).json
{
  "name": "YouTube Shorts Faceless Video Bot v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "87909260-2ab2-4e91-87bd-7a4ad65432ac",
      "name": "Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        576
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "766f2628-ca8e-43d0-930d-a6cf1482c30b",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data;\n\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const itemXml = match[1];\n\n  const getTag = (tag) => {\n    const r = new RegExp('<' + tag + '[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/' + tag + '>');\n    const m = itemXml.match(r);\n    return m ? m[1].trim() : '';\n  };\n\n  const link = getTag('link');\n\n  // Hash the FULL URL, not just the domain\n  let hash = 0;\n  for (let i = 0; i < link.length; i++) {\n    const char = link.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  const urlHash = 'h_' + Math.abs(hash).toString(36);\n\n  items.push({\n    title: getTag('title'),\n    link: link,\n    description: getTag('description'),\n    pubDate: getTag('pubDate'),\n    urlHash: urlHash\n  });\n}\n\nreturn [{ json: { articles: items.slice(0, 10) } }];"
      },
      "id": "cb42e787-6934-432c-8bcd-2780d4efa324",
      "name": "Parse Latest Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pull article data from Node 5, NOT from the SSH node (Node 6)\nconst article = $('Select Unprocessed Article').first().json;\n\nconst stripHtml = (html) => {\n  if (!html) return '';\n  return html\n    .replace(/&nbsp;/g, ' ')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst title = article.title || '';\nconst link = article.link || '';\nconst description = article.description || '';\nconst cleanDesc = stripHtml(description);\nconst fullText = title + '. ' + cleanDesc;\n\nif (fullText.length < 30) {\n  throw new Error('Article content too short: \"' + fullText + '\"');\n}\n\nreturn [{\n  json: {\n    title: title,\n    link: link,\n    description: description,\n    fullText: fullText\n  }\n}];"
      },
      "id": "bfb9baa4-26b0-4ac3-bf8b-688ad6dcf667",
      "name": "Clean Article Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        576
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=# Generate timestamp\nTS=$(date +%s)\necho \"TIMESTAMP=${TS}\"\n\n# Get the script text from n8n (this is the key fix)\nSCRIPT_TEXT='{{ $json.scriptSafe }}'\n\n# Validate script text is not empty\nif [ -z \"$SCRIPT_TEXT\" ] || [ \"$SCRIPT_TEXT\" = \"undefined\" ]; then\n  echo \"ERROR: Script text is empty or undefined\"\n  exit 1\nfi\n\n# Write script to file using cat heredoc (avoids apostrophe issues with echo)\ncat > /tmp/script_${TS}.txt << 'SCRIPTEOF'\n{{ $json.scriptSafe }}\nSCRIPTEOF\n\n# Verify file was created\nif [ ! -f /tmp/script_${TS}.txt ]; then\n  echo \"ERROR: Script file was not created\"\n  exit 1\nfi\n\nFILESIZE=$(stat -c%s /tmp/script_${TS}.txt 2>/dev/null || echo \"0\")\necho \"DEBUG: Script file size = ${FILESIZE}\"\n\nif [ \"$FILESIZE\" -lt \"10\" ]; then\n  echo \"ERROR: Script file is too small (${FILESIZE} bytes)\"\n  exit 1\nfi\n\n# Run edge-tts with --file flag\n/home/YOUR_USERNAME/.local/bin/edge-tts \\\n  --voice en-US-JennyNeural \\\n  --rate=+10% \\\n  --pitch=+0Hz \\\n  --volume=+0% \\\n  --file /tmp/script_${TS}.txt \\\n  --write-media /tmp/voice_${TS}.mp3 \\\n  --write-subtitles /tmp/subs_${TS}.vtt\n\n# Verify voice was created\nif [ ! -f /tmp/voice_${TS}.mp3 ]; then\n  echo \"ERROR: Voice file was not created\"\n  exit 1\nfi\n\nVOICE_SIZE=$(stat -c%s /tmp/voice_${TS}.mp3)\necho \"DEBUG: Voice file size = ${VOICE_SIZE}\"\n\nif [ \"$VOICE_SIZE\" -lt \"1000\" ]; then\n  echo \"ERROR: Voice file too small (${VOICE_SIZE} bytes)\"\n  exit 1\nfi\n\necho \"TTS_DONE\""
      },
      "id": "483fa2f1-e234-4e13-abf4-8ade2f411c8c",
      "name": "Generate Voice and Subtitles",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2848,
        576
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ttsOutput = $('Generate Voice and Subtitles').first().json.stdout || '';\nconst scriptData = $('Parse Script Response').first().json;\n\n// Extract timestamp from TTS output\nconst tsMatch = ttsOutput.match(/TIMESTAMP=(\\d+)/);\nif (!tsMatch) {\n  throw new Error('Could not extract timestamp from TTS output: ' + ttsOutput);\n}\n\nconst timestamp = tsMatch[1];\n\n// Verify TTS completed\nif (!ttsOutput.includes('TTS_DONE')) {\n  throw new Error('TTS did not complete. Output: ' + ttsOutput);\n}\n\n// Verify no errors\nif (ttsOutput.includes('ERROR:')) {\n  const errorMatch = ttsOutput.match(/ERROR:.*/);\n  throw new Error('TTS error: ' + (errorMatch ? errorMatch[0] : 'unknown'));\n}\n\nreturn [{\n  json: {\n    ...scriptData,\n    timestamp: timestamp\n  }\n}];"
      },
      "id": "5a24b768-4bf5-474e-8595-8b6faa454733",
      "name": "Extract Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        752
      ]
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.search_keywords) }}&per_page=20&orientation=portrait&size=medium&page={{ Math.floor(Math.random() * 7) + 1 }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_PEXELS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "85c94dc9-0d31-4435-ac6d-9e0e6eaca0ab",
      "name": "Fetch Pexels B-Roll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const pexelsData = $input.first().json;\nconst timestamp = $('Extract Timestamp').first().json.timestamp;\nconst scriptData = $('Parse Script Response').first().json;\n\nconst videos = pexelsData.videos || [];\n\nif (videos.length === 0) {\n  throw new Error('No Pexels videos returned');\n}\n\n// Shuffle and pick 5\nconst shuffled = videos.sort(() => Math.random() - 0.5);\nconst selected = shuffled.slice(0, 5);\n\nconst downloadCmds = [];\nconst concatLines = [];\n\nselected.forEach((video, i) => {\n  // Find SD quality file closest to 1080x1920\n  const files = video.video_files || [];\n  const sdFile = files.find(f => f.width >= 338 && f.width <= 720 && f.height >= 640) \n    || files.find(f => f.quality === 'sd') \n    || files[0];\n\n  if (sdFile && sdFile.link) {\n    downloadCmds.push(\n      'wget -q --timeout=15 --tries=2 \"' + sdFile.link + '\" -O /tmp/clip' + i + '_' + timestamp + '.mp4'\n    );\n    concatLines.push(\"file '/tmp/clip\" + i + \"_\" + timestamp + \".mp4'\");\n  }\n});\n\nif (downloadCmds.length < 2) {\n  throw new Error('Not enough video files found. Only got ' + downloadCmds.length);\n}\n\nreturn [{\n  json: {\n    ...scriptData,\n    downloadCmds: downloadCmds.join('\\n'),\n    concatList: concatLines.join('\\n'),\n    clipCount: downloadCmds.length,\n    timestamp: timestamp\n  }\n}];"
      },
      "id": "0d06b7ee-3d59-4e3c-93d5-1361645835b7",
      "name": "Build Download Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        752
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').first().json.timestamp }}\"\nMUSIC=\"{{ $('Pick Random Music').item.json.musicFile }}\"\n\nif [ -z \"$TS\" ]; then\n  echo \"FATAL: Timestamp is empty\"\n  exit 1\nfi\n\nif [ -z \"$MUSIC\" ] || [ \"$MUSIC\" = \"[undefined]\" ]; then\n  echo \"FATAL: Music file missing\"\n  exit 1\nfi\n\ntimeout 1800 bash /home/YOUR_USERNAME/assemble_video.sh \"$TS\" \"$MUSIC\" > /tmp/ffmpeg_log_${TS}.txt 2>&1 \n\n\necho \"STARTED_PID=${PID}\"\necho \"TIMESTAMP=${TS}\""
      },
      "id": "14c2a7db-619c-4d32-8e30-0a4dac541fd9",
      "name": "Assemble Video with FFmpeg",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1728,
        752
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS={{ $('Extract Timestamp').first().json.timestamp }}\nTHUMB_TEXT='{{ $('Extract Timestamp').first().json.thumbnailSafe }}'\n\nconvert -size 1280x720 \\\n  -define gradient:angle=135 \\\n  gradient:'#0f0c29-#302b63' \\\n  -font /usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf \\\n  -pointsize 80 \\\n  -fill '#FF0000' \\\n  -stroke '#000000' \\\n  -strokewidth 3 \\\n  -gravity North \\\n  -annotate +0+80 'ALERT' \\\n  -fill white \\\n  -stroke '#000000' \\\n  -strokewidth 2 \\\n  -pointsize 60 \\\n  -gravity Center \\\n  -annotate 0 \"$THUMB_TEXT\" \\\n  -fill '#FFD700' \\\n  -pointsize 34 \\\n  -gravity South \\\n  -annotate +0+60 '#CyberSecurity #Hacking #Tech' \\\n  /tmp/thumb_$TS.jpg\n\necho \"THUMB_DONE\"\nls -lh /tmp/thumb_$TS.jpg"
      },
      "id": "b77c7b26-a3dc-47df-8a2f-816862f49bca",
      "name": "Generate Thumbnail",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -16,
        1024
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').item.json.timestamp }}\"\necho \"DEBUG_TS=${TS}\"\nif [ -z \"$TS\" ]; then\n  echo \"FATAL: Timestamp is empty\"\n  exit 1\nfi\nif [ ! -f /tmp/final_${TS}.mp4 ]; then\n  echo \"FATAL: Video file not found\"\n  exit 1\nfi\nbase64 -w 0 /tmp/final_${TS}.mp4\necho \"\"\necho \"VIDEO_B64_DONE\"\n"
      },
      "id": "2278dc1a-e91a-47c9-9b71-61012ff2d774",
      "name": "Read Video as Base64",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        208,
        928
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS='{{ $('Extract Timestamp').first().json.timestamp }}'\n\necho \"DEBUG_TS=${TS}\"\nif [ -z \"$TS\" ]; then\n  echo \"FATAL: Timestamp is empty\"\n  exit 1\nfi\nif [ ! -f /tmp/thumb_${TS}.jpg ]; then\n  echo \"FATAL: Thumbnail not found\"\n  exit 1\nfi\nbase64 -w 0 /tmp/thumb_${TS}.jpg\necho \"\"\necho \"THUMB_B64_DONE\"\n"
      },
      "id": "49084e30-ca20-4657-8f43-8814b5ce2d65",
      "name": "Read Thumbnail as Base64",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        208,
        1120
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videoOutput = $('Read Video as Base64').first().json.stdout || '';\nconst thumbOutput = $('Read Thumbnail as Base64').first().json.stdout || '';\n\n// Remove DEBUG lines, keep only base64\nconst videoB64 = videoOutput.split('\\n').filter(l => !l.startsWith('DEBUG_TS=') && !l.startsWith('FATAL') && l.trim().length > 100).join('').trim();\nconst thumbB64 = thumbOutput.split('\\n').filter(l => !l.startsWith('DEBUG_TS=') && !l.startsWith('FATAL') && l.trim().length > 100).join('').trim();\n\nif (!videoB64 || videoB64.length < 5000) {\n  throw new Error('Video base64 missing or too small. Length: ' + videoB64.length + '. Raw start: ' + videoOutput.substring(0, 200));\n}\n\nif (!thumbB64 || thumbB64.length < 500) {\n  throw new Error('Thumbnail base64 missing or too small. Length: ' + thumbB64.length + '. Raw start: ' + thumbOutput.substring(0, 200));\n}\n\nlet title = 'Cybersecurity News';\nlet description = '';\nlet tags = ['shorts', 'technews', 'cybersecurity'];\n\ntry {\n  const scriptData = $('Parse Script Response').first().json;\n  title = scriptData.title || title;\n  description = scriptData.script || '';\n  const hashtags = scriptData.hashtags || '';\n  tags = hashtags.split(',').map(t => t.trim()).concat(tags);\n  description = description + '\\n\\n' + hashtags + '\\n\\n#Shorts #CyberSecurity #Hacking';\n} catch (e) {}\n\nreturn [{\n  json: {\n    title: title,\n    description: description,\n    tags: tags,\n    categoryId: '28',\n    privacyStatus: 'public'\n  },\n  binary: {\n    video: {\n      data: videoB64,\n      mimeType: 'video/mp4',\n      fileName: 'short.mp4'\n    },\n    thumbnail: {\n      data: thumbB64,\n      mimeType: 'image/jpeg',\n      fileName: 'thumb.jpg'\n    }\n  }\n}];\n"
      },
      "id": "5beb2b62-51f3-4148-a1c9-f2db4885fbf8",
      "name": "Merge Video and Thumbnail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1024
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "title": "=={{ $('Generate Script via Gemini').first().json.title }}",
        "regionCode": "PS",
        "categoryId": "=28",
        "updateFields": {
          "description": "=={{ $('Generate Script via Gemini').first().json.script + '\\n\\n🔔 Subscribe for daily cybersecurity news!\\n\\n' + $('Generate Script via Gemini').first().json.hashtags + '\\n\\n#Shorts #YouTubeShorts #CyberSecurity' }}",
          "privacyStatus": "public",
          "tags": "cybersecurity, hacking, shorts, technews, infosec"
        }
      },
      "id": "f0139998-0170-47a1-bdec-a70bc637647f",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2176,
        928
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "dy9K3uuKRtoXTSjc",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS='{{ $('Extract Timestamp').item.json.timestamp }}'\n\n# Only cleanup if we got a YouTube video ID (meaning upload succeeded)\nYT_ID='{{ $json.id || \"\" }}'\n\nif [ -z \"$YT_ID\" ]; then\n  echo \"SKIP_CLEANUP: No YouTube ID found, upload may have failed\"\n  exit 0\nfi\n\necho \"Cleaning up files for TS=${TS}\"\n\nrm -f /tmp/*{{ $('Extract Timestamp').item.json.timestamp }}*\n\n\necho \"CLEANUP_DONE\""
      },
      "id": "d4669c2a-9ec7-491e-8ff4-0ff07f8604fd",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2400,
        1120
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "chat_id",
        "text": "==✅ *New YouTube Short Posted!*\n\n📌 *{{ $('Parse Script Response').first().json.title }}*\n\n🔗 https://youtube.com/watch?v={{ $('Upload Video').first().json.id }}\n\n#️⃣ {{ $('Parse Script Response').first().json.hashtags }}\n\n⏰ Posted at: {{ $now.toFormat('HH:mm') }}\n📰 Source: {{ $('Parse Latest Article').first().json.link }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "186bbf57-6f0a-4862-a70c-590c1d00a702",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2176,
        1120
      ],
      "webhookId": "124534af-01cc-4361-bd75-1eefc71388e0",
      "credentials": {
        "telegramApi": {
          "id": "92PfvdOxwc2W1323",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=multipart&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata",
              "value": "=={\"snippet\":{\"title\":\"New Video\",\"categoryId\":\"28\"},\"status\":{\"privacyStatus\":\"public\"}}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        1024
      ],
      "id": "c5112564-0aac-4628-8a1e-c8faf0d45228",
      "name": "Upload Video",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "dy9K3uuKRtoXTSjc",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.googleapis.com/youtube/v3/videos?part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Upload Video').first().json.id }}\",\n  \"snippet\": {\n    \"title\": \"{{ $('Extract Timestamp').first().json.title }}\",\n    \"description\": \"{{ $('Extract Timestamp').first().json.script }}\\n\\n{{ $('Extract Timestamp').first().json.hashtags }}\\n\\n#Shorts #YouTubeShorts #CyberSecurity #Hacking #InfoSec\",\n    \"tags\": [\"cybersecurity\", \"hacking\", \"infosec\", \"shorts\", \"technews\", \"technology\"],\n    \"categoryId\": \"28\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        1024
      ],
      "id": "6d8fa389-a567-46fd-acbd-04dae7b2eed5",
      "name": "Update Video Metadata",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "dy9K3uuKRtoXTSjc",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        1024
      ],
      "id": "fc07177f-db86-402a-831c-c8195a121317",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const scriptData = $('Parse Script Response').first().json;\nconst downloadData = $input.first().json;\n\nconst moodMap = {\n  dark: ['dark1.mp3', 'dark2.mp3', 'dark3.mp3'],\n  tense: ['tense1.mp3', 'tense2.mp3', 'tense3.mp3'],\n  dramatic: ['dramatic1.mp3', 'dramatic2.mp3'],\n  mysterious: ['mysterious1.mp3'],\n  cinematic: ['cinematic1.mp3'],\n  energetic: ['energetic1.mp3', 'energetic2.mp3'],\n  corporate: ['corporate1.mp3'],\n  upbeat: ['upbeat1.mp3'],\n  serious: ['dark1.mp3', 'dark2.mp3', 'tense1.mp3'],\n  urgent: ['tense1.mp3', 'tense2.mp3', 'dramatic1.mp3'],\n  suspenseful: ['mysterious1.mp3', 'tense1.mp3']\n};\n\nlet selectedMood = (scriptData.music_mood || 'dark').toLowerCase().trim();\n\n// If mood contains pipe separator, pick first one\nif (selectedMood.includes('|')) {\n  const moods = selectedMood.split('|').map(m => m.trim());\n  selectedMood = moods[0];\n}\n\nconst originalMood = selectedMood;\n\nconst titleLower = (scriptData.title || '').toLowerCase();\nif (/hack|breach|attack|exploit/.test(titleLower)) selectedMood = 'tense';\nelse if (/warn|alert|danger|critical/.test(titleLower)) selectedMood = 'dramatic';\nelse if (/spy|secret|hidden|dark/.test(titleLower)) selectedMood = 'mysterious';\nelse if (/million|billion|steal|theft/.test(titleLower)) selectedMood = 'dramatic';\nelse if (/exposed|leaked|caught|banned/.test(titleLower)) selectedMood = 'tense';\n\nconst files = moodMap[selectedMood] || moodMap['dark'];\nconst pick = files[Math.floor(Math.random() * files.length)];\nconst musicFile = '/home/YOUR_USERNAME/bgmusic/' + pick;\n\nreturn [{\n  json: {\n    ...scriptData,\n    downloadCmds: downloadData.downloadCmds || '',\n    concatList: downloadData.concatList || '',\n    clipCount: downloadData.clipCount || 0,\n    timestamp: downloadData.timestamp || scriptData.timestamp || '',\n    musicFile: musicFile,\n    musicMood: selectedMood,\n    originalMood: originalMood\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        752
      ],
      "id": "aca2017e-8b14-416d-b40c-e346c79f3ed0",
      "name": "Pick Random Music"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=# --- FIX: Extract timestamp from the TTS node output, not search for random files ---\nTS='{{ $('Generate Voice and Subtitles').first().json.stdout.match(/TIMESTAMP=(\\d+)/)[1] }}'\n\nVOICE_FILE=\"/tmp/voice_${TS}.mp3\"\nSUBS_FILE=\"/tmp/subs_${TS}.vtt\"\n\necho \"Expected TS: ${TS}\"\necho \"Checking: ${VOICE_FILE}\"\n\nif [ ! -f \"$VOICE_FILE\" ]; then\n  echo \"VALIDATION_FAILED: Voice file does not exist at ${VOICE_FILE}\"\n  exit 0\nfi\n\nVOICE_SIZE=$(stat -c%s \"$VOICE_FILE\")\nVOICE_DURATION=$(ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"$VOICE_FILE\" 2>/dev/null)\n\necho \"VOICE_FILE=${VOICE_FILE}\"\necho \"VOICE_SIZE=${VOICE_SIZE}\"\necho \"VOICE_DURATION=${VOICE_DURATION}\"\n\nif [ \"$VOICE_SIZE\" -lt \"50000\" ]; then\n  echo \"VALIDATION_FAILED: Voice file too small (${VOICE_SIZE} bytes)\"\n  exit 0\nfi\n\n# Check duration is > 30 seconds\nDURATION_INT=$(echo \"$VOICE_DURATION\" | cut -d. -f1)\nif [ \"$DURATION_INT\" -lt \"30\" ]; then\n  echo \"VALIDATION_FAILED: Voice too short (${VOICE_DURATION}s)\"\n  exit 0\nfi\n\n# Check subtitles exist\nif [ ! -f \"$SUBS_FILE\" ]; then\n  echo \"VALIDATION_FAILED: Subtitles file missing at ${SUBS_FILE}\"\n  exit 0\nfi\n\necho \"VALIDATION_PASSED\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -256,
        752
      ],
      "id": "299f328c-97e6-4163-87ed-6abc7a21f449",
      "name": "Validate Voice Quality",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=/bin/bash -c '\nset -e\n\necho \"DEBUG: Checking latest video...\"\n\nF=$(ls -t /tmp/final_*.mp4 2>/dev/null | head -1)\n\nif [ -z \"$F\" ] || [ ! -f \"$F\" ]; then\n  echo \"STATUS=FAILED\"\n  echo \"REASON=No video file\"\n  exit 0\nfi\n\necho \"VIDEO_FILE=$F\"\n\n# Get duration safely\nDUR=$(/usr/bin/ffprobe -v error -show_entries format=duration -of csv=p=0 \"$F\" 2>/dev/null || echo 0)\n\nif [ -z \"$DUR\" ]; then DUR=0; fi\n\nDINT=$(printf \"%.0f\" \"$DUR\" 2>/dev/null || echo 0)\n\n# Get file size\nSZ=$(stat -c%s \"$F\" 2>/dev/null || echo 0)\n\n# Get codecs safely\nVID=$(/usr/bin/ffprobe -v error -select_streams v:0 -show_entries stream=codec_name -of csv=p=0 \"$F\" 2>/dev/null || echo \"\")\nAUD=$(/usr/bin/ffprobe -v error -select_streams a:0 -show_entries stream=codec_name -of csv=p=0 \"$F\" 2>/dev/null || echo \"\")\n\necho \"VIDEO_DURATION=${DINT}s\"\necho \"VIDEO_SIZE=${SZ}\"\necho \"VIDEO_CODEC=${VID}\"\necho \"AUDIO_CODEC=${AUD}\"\n\n# --- VALIDATION RULES ---\n\nif [ \"$DINT\" -lt 30 ]; then\n  echo \"STATUS=FAILED\"\n  echo \"REASON=Too short (${DINT}s)\"\n  exit 0\nfi\n\nif [ -z \"$VID\" ]; then\n  echo \"STATUS=FAILED\"\n  echo \"REASON=No video stream\"\n  exit 0\nfi\n\nif [ -z \"$AUD\" ]; then\n  echo \"STATUS=FAILED\"\n  echo \"REASON=No audio stream\"\n  exit 0\nfi\n\nif [ \"$SZ\" -lt 1000000 ]; then\n  echo \"STATUS=FAILED\"\n  echo \"REASON=Too small (${SZ} bytes)\"\n  exit 0\nfi\n\necho \"STATUS=PASSED\"\n'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2848,
        752
      ],
      "id": "68c43cee-2fba-4753-bce1-0ac1332a1e9d",
      "name": "Validate Final Video",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst stdout = item.json.stdout || '';\nconst stderr = item.json.stderr || '';\nconst exitCode = item.json.exitCode;\n\nconsole.log('stdout:', stdout);\nconsole.log('stderr:', stderr);\nconsole.log('exitCode:', exitCode);\n\n// Check for explicit failure message\nif (stdout.includes('VALIDATION_FAILED')) {\n  const errorMsg = stdout.match(/VALIDATION_FAILED: (.+)/)?.[1] || 'Voice validation failed';\n  throw new Error(errorMsg);\n}\n\n// Check exit code\nif (exitCode !== 0 && exitCode !== null && exitCode !== undefined) {\n  throw new Error(`SSH command failed with exit code ${exitCode}: ${stderr || stdout}`);\n}\n\n// Check VALIDATION_PASSED exists\nif (!stdout.includes('VALIDATION_PASSED')) {\n  throw new Error(`Unexpected validation output: ${stdout.slice(0, 200)}`);\n}\n\nreturn [{ json: item.json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        752
      ],
      "id": "b051c105-1125-44cd-b347-2b57037df027",
      "name": "Check Voice Validation"
    },
    {
      "parameters": {
        "jsCode": "if (!$binary || !$binary.video) {\n  throw new Error(\"No video file\");\n}\n\nif ($binary.video.data.length < 1000000) {\n  throw new Error(\"Video too small\");\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1024
      ],
      "id": "7a71efa1-c0e8-49d4-9e76-4ceb5010e71a",
      "name": "Check Video Validation",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=cat /home/YOUR_USERNAME/.yt_processed_urls.txt"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        624,
        576
      ],
      "id": "ae655211-c6a3-498f-a72b-5d486dd12779",
      "name": "Check Processed URLs",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $('Parse Latest Article').first().json.articles;\nconst sshOutput = $('Check Processed URLs').first().json.stdout || '';\nconst processedHashes = sshOutput.split('\\n').map(h => h.trim()).filter(h => h.length > 0);\n\n// Check for override topic\nlet overrideTopic = '';\ntry {\n  const overrideOutput = $('Check Override Topic').first().json.stdout || '';\n  overrideTopic = overrideOutput.trim();\n} catch (e) {}\n\nlet selectedArticle = null;\n\n// If override topic exists, find matching article\nif (overrideTopic && overrideTopic.length > 3 && overrideTopic !== 'OVERRIDE_CLEARED') {\n  const keywords = overrideTopic.toLowerCase().split(/\\s+/);\n  \n  for (const article of articles) {\n    const title = (article.title || '').toLowerCase();\n    const desc = (article.description || '').toLowerCase();\n    \n    // Check if any keyword matches\n    const matchCount = keywords.filter(kw => kw.length > 3 && (title.includes(kw) || desc.includes(kw))).length;\n    \n    if (matchCount >= 2 || title.includes(overrideTopic.toLowerCase())) {\n      selectedArticle = article;\n      selectedArticle.overrideUsed = true;\n      break;\n    }\n  }\n  \n  if (!selectedArticle) {\n    // Try partial match with first 3 significant words\n    const sigWords = keywords.filter(w => w.length > 4).slice(0, 3);\n    for (const article of articles) {\n      const title = (article.title || '').toLowerCase();\n      const matches = sigWords.filter(w => title.includes(w)).length;\n      if (matches >= 2) {\n        selectedArticle = article;\n        selectedArticle.overrideUsed = true;\n        break;\n      }\n    }\n  }\n}\n\n// If no override match, pick first unprocessed\nif (!selectedArticle) {\n  for (const article of articles) {\n    if (!processedHashes.includes(article.urlHash)) {\n      selectedArticle = article;\n      break;\n    }\n  }\n}\n\n// If all processed, use oldest\nif (!selectedArticle) {\n  selectedArticle = { ...articles[articles.length - 1], reused: true };\n}\n\nreturn [{ json: selectedArticle }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        576
      ],
      "id": "1cc9b60e-c5f6-4480-b634-3690b021fa3a",
      "name": "Select Unprocessed Article"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=URL_HASH=\"{{ $json.urlHash }}\"\necho \"DEBUG_HASH=${URL_HASH}\"\nif [ -z \"$URL_HASH\" ]; then\n  echo \"ERROR: urlHash is empty\"\n  exit 1\nfi\nif grep -qx \"$URL_HASH\" /home/YOUR_USERNAME/.yt_processed_urls.txt 2>/dev/null; then\n  echo \"ALREADY_EXISTS: $URL_HASH\"\nelse\n  echo \"$URL_HASH\" >> /home/YOUR_USERNAME/.yt_processed_urls.txt\n  echo \"MARKED_AS_PROCESSED: $URL_HASH\"\nfi\ntail -200 /home/YOUR_USERNAME/.yt_processed_urls.txt > /tmp/urls_tmp.txt && mv /tmp/urls_tmp.txt /home/YOUR_USERNAME/.yt_processed_urls.txt\necho \"TOTAL_PROCESSED=$(wc -l < /home/YOUR_USERNAME/.yt_processed_urls.txt)\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1296,
        576
      ],
      "id": "e18c3caa-83b4-417e-9f00-916f4bbe1f24",
      "name": "Mark URL as Processed",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Build fullText from title + description (strip HTML)\nconst stripHtml = (html) => {\n  if (!html) return '';\n  return html\n    .replace(/&nbsp;/g, ' ')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst title = item.title || '';\nconst link = item.link || '';\nconst description = item.description || '';\nconst cleanDesc = stripHtml(description);\nconst fullText = title + '. ' + cleanDesc;\n\nreturn [{\n  json: {\n    title: title,\n    link: link,\n    description: description,\n    fullText: fullText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        576
      ],
      "id": "b072133c-67a2-4488-9b3c-b0a8c62f6c92",
      "name": "Pass Article Data"
    },
    {
      "parameters": {
        "jsCode": "const articleData = $('Clean Article Text').first().json;\nconst fullText = articleData.fullText || '';\nconst articleTitle = articleData.title || '';\nconst articleLink = articleData.link || '';\n\nif (!fullText || fullText === 'undefined' || fullText.length < 60) {\n  throw new Error('ABORT: Article content is empty. fullText=' + fullText);\n}\n\nconst duration = $json.duration || 90;\nconst minWords = Math.floor(duration * 2.0);\nconst maxWords = Math.floor(duration * 2.4);\n\nconst rules = [\n  'Script MUST match a narration length of ' + duration + ' seconds',\n  'Target word count: ' + minWords + '-' + maxWords + ' words',\n  'Write in a dramatic, engaging, news-anchor style',\n  'Start with a strong hook in the first sentence',\n  'DO NOT use the word Welcome or Hey guys',\n  'DO NOT repeat any word more than 3 times in the entire script',\n  'DO NOT repeat any sentence or phrase anywhere in the script',\n  'Every sentence must end with a period',\n  'DO NOT use colons, semicolons, or bullet points',\n  'DO NOT use quotation marks or apostrophes',\n  'Avoid filler words like basically, actually, literally',\n  'DO NOT start consecutive sentences with the same word',\n  'Reference specific technical details, CVEs, companies, or threat actors',\n  'End with a strong cybersecurity safety takeaway or warning',\n  'The VERY LAST sentence must be exactly: Subscribe to our channel for the latest cybersecurity updates and news and follow for more.',\n  'Do NOT write any variation of subscribe more than once in the entire script'\n].map(r => '- ' + r).join('\\n');\n\nconst prompt =\n  'You are a YouTube Shorts script writer for a cybersecurity news channel.\\n\\n' +\n  'ARTICLE TITLE: ' + articleTitle + '\\n' +\n  'SOURCE: ' + articleLink + '\\n\\n' +\n  'ARTICLE CONTENT:\\n' + fullText + '\\n\\n' +\n  'CRITICAL INSTRUCTION:\\n' +\n  'You MUST generate a script that matches exactly the requested duration. Timing matters more than word count.\\n\\n' +\n  rules + '\\n\\n' +\n  'Return ONLY valid JSON in this exact format (no markdown, no backticks):\\n' +\n  '{\\n' +\n  '  \"title\": \"Short catchy title under 60 chars\",\\n' +\n  '  \"script\": \"The full narration script here\",\\n' +\n  '  \"thumbnail_text\": \"2-4 WORDS IN ALL CAPS\",\\n' +\n  '  \"hashtags\": \"tag1, tag2, tag3\",\\n' +\n  '  \"search_keywords\": \"keyword1, keyword2, keyword3\",\\n' +\n  '  \"music_mood\": \"dark|tense|dramatic|mysterious|cinematic|energetic\"\\n' +\n  '}';\n\nreturn [{\n  json: {\n    articleTitle,\n    articleLink,\n    duration,\n    requestBody: {\n      model: 'llama-3.1-8b-instant',\n      temperature: 0.75,\n      max_tokens: 2200,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a professional YouTube Shorts script writer specializing in cybersecurity news. You MUST strictly follow duration-based pacing rules. Output ONLY valid JSON. Never repeat any sentence in the script.'\n        },\n        {\n          role: 'user',\n          content: prompt\n        }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        576
      ],
      "id": "e29f9837-6f01-4b7e-8d78-92f84420880c",
      "name": "Build Script Prompt"
    },
    {
      "parameters": {
        "jsCode": "const articleTitle = $('Build Script Prompt').first().json.articleTitle;\nconst articleLink = $('Build Script Prompt').first().json.articleLink;\n\nconst data = $input.first().json;\n\nif (!data.choices || !data.choices[0]) {\n  throw new Error('API returned no choices: ' + JSON.stringify(data).substring(0, 500));\n}\n\nlet rawText = data.choices[0].message.content.trim();\n\n// Clean up common formatting issues\nrawText = rawText.replace(/```json\\s*/g, '');\nrawText = rawText.replace(/```\\s*/g, '');\nrawText = rawText.trim();\n\n// Try to extract JSON object if there is extra text around it\nconst jsonStart = rawText.indexOf('{');\nconst jsonEnd = rawText.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON object found in response: ' + rawText.substring(0, 500));\n}\n\nrawText = rawText.substring(jsonStart, jsonEnd + 1);\n\n// Fix common JSON issues from small models\nrawText = rawText.replace(/[\\r\\n]+/g, ' ');\nrawText = rawText.replace(/,\\s*}/g, '}');\nrawText = rawText.replace(/,\\s*,/g, ',');\n\n// Fix unescaped quotes inside values\n// Replace smart quotes with straight quotes first\nrawText = rawText.replace(/[\\u201C\\u201D]/g, '\\\\\"');\nrawText = rawText.replace(/[\\u2018\\u2019]/g, \"'\");\n\nlet result;\ntry {\n  result = JSON.parse(rawText);\n} catch (e) {\n  // Second attempt: try to fix broken quotes\n  try {\n    // Replace single quotes used as string delimiters with double quotes\n    let fixed = rawText.replace(/'/g, '\"');\n    result = JSON.parse(fixed);\n  } catch (e2) {\n    // Third attempt: manually extract fields with regex\n    try {\n      result = {\n        title: (rawText.match(/\"title\"\\s*:\\s*\"([^\"]*)\"/) || [])[1] || articleTitle,\n        script: (rawText.match(/\"script\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*,\\s*\"thumbnail/) || [])[1] || '',\n        thumbnail_text: (rawText.match(/\"thumbnail_text\"\\s*:\\s*\"([^\"]*)\"/) || [])[1] || 'BREAKING NEWS',\n        hashtags: (rawText.match(/\"hashtags\"\\s*:\\s*\"([^\"]*)\"/) || [])[1] || 'cybersecurity, hacking, infosec',\n        search_keywords: (rawText.match(/\"search_keywords\"\\s*:\\s*\"([^\"]*)\"/) || [])[1] || 'cybersecurity news, hacking',\n        music_mood: (rawText.match(/\"music_mood\"\\s*:\\s*\"([^\"]*)\"/) || [])[1] || 'dark'\n      };\n\n      if (!result.script || result.script.length < 50) {\n        throw new Error('Regex extraction got empty script');\n      }\n    } catch (e3) {\n      throw new Error('All JSON parse attempts failed. Raw response: ' + rawText.substring(0, 800));\n    }\n  }\n}\n\nconst script = result.script || '';\nconst words = script.toLowerCase().split(/\\s+/);\nlet retryReason = '';\nconst issues = [];\n\nif (words.length < 240 || words.length > 280) {\n  issues.push('Word count is ' + words.length);\n}\n\nconst freq = {};\nconst skip = ['the','a','an','is','are','was','were','and','or','but','in','on','to','of','for','it','that','this','with','from','has','have','had','not','can','will','be','by','as','at','its','their','they','you','your'];\nwords.forEach(w => {\n  const clean = w.replace(/[^a-z]/g, '');\n  if (clean.length > 3 && !skip.includes(clean)) {\n    freq[clean] = (freq[clean] || 0) + 1;\n  }\n});\n\nconst repeated = Object.entries(freq)\n  .filter(([w, c]) => c > 4)\n  .map(([w, c]) => '\"' + w + '\" x' + c);\nif (repeated.length > 0) {\n  issues.push(repeated.join(', '));\n}\n\nif (issues.length > 0) {\n  retryReason = issues.join('; ');\n}\n\nconst scriptSafe = (result.script || '')\n  .replace(/'/g, '')\n  .replace(/\"/g, '')\n  .replace(/`/g, '')\n  .replace(/\\$/g, '')\n  .replace(/\\\\/g, '')\n  .replace(/[^\\x20-\\x7E\\n]/g, '');\n\nconst thumbnailSafe = (result.thumbnail_text || 'BREAKING NEWS')\n  .toUpperCase()\n  .replace(/'/g, '')\n  .replace(/\"/g, '');\n\nconst wordsFinal = scriptSafe.split(/\\s+/).filter(w => w.length > 0);\nconst sentenceEndings = (scriptSafe.match(/\\./g) || []).length;\n\nreturn [{\n  json: {\n    title: result.title || articleTitle,\n    script: result.script || '',\n    thumbnail_text: result.thumbnail_text || 'BREAKING NEWS',\n    hashtags: result.hashtags || 'cybersecurity, hacking, infosec',\n    search_keywords: result.search_keywords || 'cybersecurity news, hacking, data breach',\n    music_mood: result.music_mood || 'dark',\n    scriptSafe: scriptSafe,\n    thumbnailSafe: thumbnailSafe,\n    wordCount: wordsFinal.length,\n    sentenceEndings: sentenceEndings,\n    retried: false,\n    retryReason: retryReason,\n    articleLink: articleLink\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        576
      ],
      "id": "77fb5350-a558-43d0-869f-135c09a37fec",
      "name": "Parse Script Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        576
      ],
      "id": "7f276118-bedd-487f-ab7e-5745f71db3e5",
      "name": "Call Groq API"
    },
    {
      "parameters": {
        "jsCode": "const article = $('Select Unprocessed Article').first().json;\nreturn [{\n  json: {\n    urlHash: article.urlHash,\n    title: article.title,\n    link: article.link,\n    description: article.description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        576
      ],
      "id": "607761d1-95f9-424b-85c7-0560ee62d7e2",
      "name": "Pass URL Hash"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $json.timestamp }}\"\ncat > /tmp/download_${TS}.sh << 'DLEOF'\n{{ $json.downloadCmds }}\nDLEOF\nchmod +x /tmp/download_${TS}.sh\ncat > /tmp/list_${TS}.txt << 'LISTEOF'\n{{ $json.concatList }}\nLISTEOF\necho \"FILES_WRITTEN\"\necho \"DOWNLOAD_SCRIPT:\"\ncat /tmp/download_${TS}.sh\necho \"CONCAT_LIST:\"\ncat /tmp/list_${TS}.txt"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1296,
        752
      ],
      "id": "8df21c1f-9892-45d7-8c25-f280d970d817",
      "name": "Write Video Files",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').first().json.timestamp }}\"\n\nLOG=\"/tmp/ffmpeg_log_${TS}.txt\"\nFILE=\"/tmp/final_${TS}.mp4\"\n\necho \"CHECKING_LOG=$LOG\"\necho \"CHECKING_FILE=$FILE\"\n\n# ----------------------------\n# 1. LOG MUST EXIST\n# ----------------------------\nif [ ! -f \"$LOG\" ]; then\n  echo \"VALIDATION_FAILED: FFmpeg log missing\"\n  exit 1\nfi\n\nCONTENT=$(cat \"$LOG\")\n\n# ----------------------------\n# 2. HARD FAIL CONDITIONS (ABORT IMMEDIATELY)\n# ----------------------------\n\nif echo \"$CONTENT\" | grep -q \"More than 1000 frames duplicated\"; then\n  echo \"VALIDATION_FAILED: FFmpeg corrupted encode (frame duplication)\"\n  exit 1\nfi\n\nif echo \"$CONTENT\" | grep -q \"cpb: bitrate max/min/avg: 0/0/0\"; then\n  echo \"VALIDATION_FAILED: Invalid bitrate detected\"\n  exit 1\nfi\n\nif echo \"$CONTENT\" | grep -q \"Error\" || echo \"$CONTENT\" | grep -q \"Invalid\"; then\n  echo \"VALIDATION_FAILED: FFmpeg error detected\"\n  exit 1\nfi\n\n# ----------------------------\n# 3. CHECK FINAL FILE EXISTS\n# ----------------------------\nif [ ! -f \"$FILE\" ]; then\n  echo \"VALIDATION_FAILED: Video file not created yet\"\n  exit 1\nfi\n\n# ----------------------------\n# 4. FILE SIZE CHECK\n# ----------------------------\nSIZE=$(stat -c%s \"$FILE\" 2>/dev/null || echo 0)\n\nif [ \"$SIZE\" -lt 1000000 ]; then\n  echo \"VALIDATION_FAILED: Video too small (${SIZE} bytes)\"\n  exit 1\nfi\n\n# ----------------------------\n# 5. OPTIONAL: CHECK IF STILL WRITING\n# ----------------------------\nSIZE2=$(stat -c%s \"$FILE\" 2>/dev/null || echo 0)\nsleep 2\nSIZE3=$(stat -c%s \"$FILE\" 2>/dev/null || echo 0)\n\nif [ \"$SIZE2\" != \"$SIZE3\" ]; then\n  echo \"VALIDATION_FAILED: Video still writing\"\n  exit 1\nfi\n\necho \"VIDEO_READY\"\nexit 0"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1952,
        752
      ],
      "id": "d77eb3d1-89a9-471b-a078-a0017fc6add3",
      "name": "Check Video Ready",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').first().json.timestamp }}\"\n\nif [ -z \"$TS\" ]; then\n  echo \"FATAL: Timestamp missing\"\n  exit 1\nfi\n\nFILE=\"/tmp/final_${TS}.mp4\"\n\nif [ ! -f \"$FILE\" ]; then\n  echo \"FATAL: Video missing\"\n  exit 1\nfi\n\nSIZE=$(stat -c%s \"$FILE\")\n\necho \"DEBUG: File size = $SIZE\"\n\nif [ \"$SIZE\" -lt 1000000 ]; then\n  echo \"FATAL: Video too small\"\n  exit 1\nfi\n\n# Output clean JSON for n8n\necho \"{\"\necho \"\\\"data\\\": \\\"$(base64 -w 0 \"$FILE\")\\\",\"\necho \"\\\"fileName\\\": \\\"final_${TS}.mp4\\\",\"\necho \"\\\"mimeType\\\": \\\"video/mp4\\\"\"\necho \"}\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2624,
        752
      ],
      "id": "7351c18f-d752-4af7-bb3f-b2856b553bbf",
      "name": "Read Binary File",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').first().json.timestamp }}\"\n\nif [ ! -f /tmp/final_${TS}.mp4 ]; then\n  echo \"FATAL: Video missing\"\n  exit 1\nfi\n\nbase64 /tmp/final_${TS}.mp4"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        864,
        1024
      ],
      "id": "6a6213f4-2bf7-4d30-8dee-2ca4ca6712cf",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $json.timestamp }}\"\n\nFILE=\"/tmp/final_${TS}.mp4\"\n\nif [ ! -f \"$FILE\" ]; then\n  echo \"FATAL: File not found\"\n  exit 1\nfi\n\necho \"LOADING_VIDEO=${FILE}\"\nbase64 \"$FILE\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2176,
        752
      ],
      "id": "df6bda17-4291-4bba-89e2-b145984679f9",
      "name": "Load Video File",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      hasBinary: !!$binary,\n      keys: Object.keys($binary || {}),\n      videoSize: $binary?.video?.data?.length || 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        752
      ],
      "id": "e9342d36-23ea-4fa5-91ea-c9560a85906e",
      "name": "Debug Binary"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=TS=\"{{ $('Extract Timestamp').first().json.timestamp }}\"\nTITLE=\"{{ $('Parse Script Response').first().json.title }}\"\nCAPTION=\"${TITLE} #cybersecurity #hacking #infosec #databreach #technews #shorts\"\n\nif [ -z \"$TS\" ]; then\n  echo \"FATAL: Timestamp is empty\"\n  exit 1\nfi\n\nif [ ! -f /tmp/final_${TS}.mp4 ]; then\n  echo \"FATAL: Video file /tmp/final_${TS}.mp4 not found\"\n  exit 1\nfi\n\nif [ -z \"$TITLE\" ] || [ \"$TITLE\" = \"undefined\" ]; then\n  CAPTION=\"Cybersecurity News #cybersecurity #hacking #infosec #shorts\"\n  echo \"WARN: Title was empty, using default caption\"\nfi\n\ntimeout 300 python3 /home/YOUR_USERNAME/tiktok_upload.py \"/tmp/final_${TS}.mp4\" \"$CAPTION\" \"/home/YOUR_USERNAME/.tiktok_cookies.json\" > /tmp/tiktok_log_${TS}.txt 2>&1\nTIKTOK_EXIT=$?\n\necho \"TIMESTAMP=${TS}\"\necho \"EXIT_CODE=${TIKTOK_EXIT}\"\n\nif grep -q \"TIKTOK_UPLOAD_DONE\" /tmp/tiktok_log_${TS}.txt 2>/dev/null; then\n  echo \"TIKTOK_SUCCESS\"\nelse\n  echo \"TIKTOK_FAILED\"\n  echo \"LOG_OUTPUT:\"\n  cat /tmp/tiktok_log_${TS}.txt 2>/dev/null | tail -15\nfi"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1728,
        1024
      ],
      "id": "bba72a8a-cca9-402b-9f29-5d2b85bd2ca0",
      "name": "Upload to TikTok",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cat /home/YOUR_USERNAME/.yt_override_topic.txt 2>/dev/null || true"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        400,
        576
      ],
      "id": "cc3eae9d-9db2-464c-95d2-05502ced160f",
      "name": "Check Override Topic",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "> /home/YOUR_USERNAME/.yt_override_topic.txt echo \"OVERRIDE_CLEARED\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1504,
        576
      ],
      "id": "26751bc2-0e16-4f8b-b4f9-900388e66cf7",
      "name": "Clear Override Topic",
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "SSH Private Key account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 8 Hours": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse Latest Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Latest Article": {
      "main": [
        [
          {
            "node": "Check Override Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Article Text": {
      "main": [
        [
          {
            "node": "Build Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice and Subtitles": {
      "main": [
        [
          {
            "node": "Validate Voice Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Timestamp": {
      "main": [
        [
          {
            "node": "Fetch Pexels B-Roll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels B-Roll": {
      "main": [
        [
          {
            "node": "Build Download Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Download Commands": {
      "main": [
        [
          {
            "node": "Pick Random Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video with FFmpeg": {
      "main": [
        [
          {
            "node": "Check Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Thumbnail": {
      "main": [
        [
          {
            "node": "Read Video as Base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Thumbnail as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video as Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Video and Thumbnail": {
      "main": [
        [
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        []
      ]
    },
    "Cleanup Temp Files": {
      "main": [
        []
      ]
    },
    "Read Thumbnail as Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Upload to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Metadata": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Music": {
      "main": [
        [
          {
            "node": "Write Video Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Voice Quality": {
      "main": [
        [
          {
            "node": "Check Voice Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Final Video": {
      "main": [
        [
          {
            "node": "Check Video Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Voice Validation": {
      "main": [
        [
          {
            "node": "Extract Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Validation": {
      "main": [
        [
          {
            "node": "Generate Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processed URLs": {
      "main": [
        [
          {
            "node": "Select Unprocessed Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Unprocessed Article": {
      "main": [
        [
          {
            "node": "Pass URL Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark URL as Processed": {
      "main": [
        [
          {
            "node": "Clear Override Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Article Data": {
      "main": [
        [
          {
            "node": "Clean Article Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt": {
      "main": [
        [
          {
            "node": "Call Groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Generate Voice and Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Groq API": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass URL Hash": {
      "main": [
        [
          {
            "node": "Mark URL as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Video Files": {
      "main": [
        [
          {
            "node": "Assemble Video with FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready": {
      "main": [
        [
          {
            "node": "Load Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Validate Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Merge Video and Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Video File": {
      "main": [
        [
          {
            "node": "Debug Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Binary": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to TikTok": {
      "main": [
        [
          {
            "node": "Update Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Override Topic": {
      "main": [
        [
          {
            "node": "Check Processed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Override Topic": {
      "main": [
        [
          {
            "node": "Pass Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "yEJKMZ52aQjiOVRE",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "882419f4-1ce7-484b-a255-5ff18e0d8435",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "weJT2TDIxYdTIKue",
  "tags": []
}